<!DOCTYPE html>
<html>
<head>
  <title>CipherGuard Create</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="container">
    <h1>Create Password Manager Database</h1>
    <form action="/create" method="post">
      <input type="password" class="form-control" name="password" placeholder="Password" id="password">
      <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" id="confirm_password">
      <div class="progressbar">
        <div class="progressbar-value"></div>
      </div>
      <button class="button" type="submit">Create</button>
    </form>
    <script>
      const passwordInput = document.querySelector("input[name='password']");
      const confirmPasswordInput = document.querySelector("input[name='confirm_password']");
      const progressbar = document.querySelector(".progressbar-value");

      progressbar.style.width = 0;

      confirmPasswordInput.addEventListener("input", () => {
        const password = passwordInput.value;
        const confirmPassword = confirmPasswordInput.value;

        const progressbarValue = Math.floor(confirmPassword.length / password.length * 100);
        progressbar.style.width = `${progressbarValue}%`;
      });

      // Check password strength using JavaScript
      const checkPasswordStrength = (password) => {
        const strength = 0;

        if (password.length >= 8) {
          strength += 10;
        }

        if (password.match(/[a-z]/)) {
          strength += 10;
        }

        if (password.match(/[A-Z]/)) {
          strength += 10;
        }

        if (password.match(/[0-9]/)) {
          strength += 10;
        }

        if (password.match(/[!@#$%^&*()_+~]/)) {
          strength += 10;
        }

        return strength;
      };

      // Update the progress bar based on the password strength
      passwordInput.addEventListener("input", () => {
        const password = passwordInput.value;
        const progressbarValue = checkPasswordStrength(password);
        progressbar.style.width = `${progressbarValue}%`;
      });
    </script>
  </div>
</body>
</html>
